.main-container{
    background-color: #716994;
    height: 100vh;
    
    padding-top: 70px;
    
   

}

.submit{
    display: flex;
    justify-content: center;
    

    
}
.task_name{
    margin: 10px;
}
.description{
    margin: 10px;
}
.date{
    margin: 10px;
}
.button{
    height: 32px;
    width: 132px;
    margin: 10px;
    border-radius: 8px;
    background-color: blue;
    color: #ffffff;
    border-width: 0px;
    font-family: "Roboto";
    font-weight: 900;
    cursor: pointer;
}
.list-container{
    
    background-color:transparent;
    color: #ffffff;
    width: 600px;
    margin-left: 400px;
    margin-right: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;
   

}

.sub-heading{
font-size: 20px;
font-weight: 600;
font-family: "Roboto";

   
    
}
.sub-description{
font-size: 20px;
font-weight: 600;
font-family: "Roboto";
}
.sub-duedate{
    font-size: 20px;
font-weight: 600;
font-family: "Roboto";






}




.delete-btn{
    height: 25px;
    width: 60px;
    font-size: 12px;
    font-family: "Roboto";
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
    border-width: 0px;
    font-weight: bold;
    cursor: pointer;
}
.error{
    color: red;
    font-size: 14px;
    font-family: "Roboto";
    padding: 5px;
}